<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% title %></title>
</head>
<body>
    <h1>Welcome Admin</h1>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for(let user of users) { %>
            <tr>
                <td><%= user.user_id %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= user.created_at %></td>
                <td>
                    <form action="/users/removeUser" method="post">
                        
                        <input type="hidden" name="userId" value="<%= user.user_id %>">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            <% } %>
        </tbody>
        
    </table>
    <br>
    <table>
        <thead>
            <tr>
                <th>City</th>
                <th>Forecast Date</th>
                <th>Temperature</th>
                <th>Description</th>
                <th>Humidity</th>
                <th>Wind Speed</th>
                <th>Icon</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            <% for(let weather of weatherData) { %>
            <tr>
                <td><%= weather.city %></td>
                <td><%= weather.forecast_date.toISOString().split('T')[0] %></td>
                <td><%= weather.temperature %></td>
                <td><%= weather.weather_description %></td>
                <td><%= weather.humidity %></td>
                <td><%= weather.wind_speed %></td>
                <td><%= weather.created_at.toISOString().split('T')[0] %></td>
                <td>
                    <form action="/weather/removeEntry" method="post">
                        
                        <input type="hidden" name="weather_id" value="<%= weather.weather_id %>">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>
