<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Tracker History</title>
    <link rel="stylesheet" href="css/historyPage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Weather Tracker History</h1>
    </header>
    <main>
        <div class="filter-buttons">
            <label for="country1">Choose A Country:</label>
            <select name="country1" id="country1">
                <option value="">Select a Country</option>
                <% const uniqueCountries = [...new Set(locations.map(loc => loc.country))]; %>
                <% uniqueCountries.forEach(country => { %>
                    <option value="<%= country %>"><%= country %></option>
                <% }); %>
            </select>

            <label for="location1">Choose A Location:</label>
            <select name="location1" id="location1" onchange="chartQuery()">
                <option value="">Select a City</option>
                <% locations.forEach(location => { %>
                    <option value="<%= location.city %>" data-country="<%= location.country %>"><%= location.city %></option>
                <% }); %>
            </select>
            <br><br>
            <label for="country2">Choose A Country:</label>
            <select name="country2" id="country2">
                <option value="">Select a Country</option>
                <% uniqueCountries.forEach(country => { %>
                    <option value="<%= country %>"><%= country %></option>
                <% }); %>
            </select>

            <label for="location2">Choose A Location:</label>
            <select name="location2" id="location2" onchange="chartQuery()">
                <option value="">Select a City</option>
                <% locations.forEach(location => { %>
                    <option value="<%= location.city %>" data-country="<%= location.country %>"><%= location.city %></option>
                <% }); %>
            </select>
        </div>

        <div class="graphs-container">
            <h2>Temperature</h2>
            <div class="graph-box" id="graph-box-1">
                <canvas id="tempChart" style="width:100%;"></canvas>
            </div>
            <h2>Humidity</h2>
            <div class="graph-box" id="graph-box-2">
                <canvas id="humidityChart" style="width:100%;"></canvas>
            </div>
            <h2>Wind Speed</h2>
            <div class="graph-box" id="graph-box-3">
                <canvas id="windSpeedChart" style="width:100%;"></canvas>
            </div>
        </div>
    </main>

    <script>
        $(document).ready(function() {
            $('#country1, #country2').select2();
            $('#location1, #location2').select2();

            var originalLocations = $('#location1 option').map(function() {
                return { city: $(this).val(), country: $(this).data('country') };
            }).get();

            $('#country1').on('change', function() {
                var selectedCountry = $(this).val();

                var filteredLocations = originalLocations.filter(function(location) {
                    return location.country === selectedCountry;
                });

                var $locationsSelect = $('#location1').empty().append(new Option('Select a City', ''));
                filteredLocations.forEach(function(location) {
                    $locationsSelect.append(new Option(location.city, location.city));
                });

                $locationsSelect.select2();
            });

            $('#country2').on('change', function() {
                var selectedCountry = $(this).val();

                var filteredLocations = originalLocations.filter(function(location) {
                    return location.country === selectedCountry;
                });

                var $locationsSelect = $('#location2').empty().append(new Option('Select a City', ''));
                filteredLocations.forEach(function(location) {
                    $locationsSelect.append(new Option(location.city, location.city));
                });

                $locationsSelect.select2();
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/charts.js"></script>
</body>
</html>
